name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Required for OIDC

env:
  FORCE_COLOR: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'cloud-annotations/docusaurus-openapi' && github.ref == 'refs/heads/main' && github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - uses: actions/setup-node@v6
        with:
          node-version: "*"
          registry-url: "https://registry.npmjs.org"
      - name: Release
        run: npx ts-node --transpile-only scripts/publish.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
